/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

:root {
  --black: #282828;
  --gray: #3f3f46;
  --white: #f4f4f5;
  --red: #dc2626;
  --yellow: #fcd34d;
  --green: #4dfc948a;
}

* { 
  background-color: var(--black);
  color: var(--white);
  font-family: "roboto", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 5fr;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  padding: auto;
  border-bottom: 2px solid var(--white);
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 25%;
  height: 100%;
}

.player-info {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 6vh "roboto", sans-serif;
}

.player-name {
  margin-bottom: 10px;
}

.gameboard {
  height: 60%;
  aspect-ratio: 1 / 1; 
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 3px solid var(--white);
  border-radius: 5px;
}
#new {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 45px;
  width: 125px;
  background-color: var(--green);
  border-radius: 11px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spot {
  font-size: 8vh;
  border-top: 1px dashed var(--white);
  border-right: 1px dashed var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard .spot:nth-child(-n+3) {
  border-top: none;
}

.gameboard .spot:nth-child(3n) {
  border-right: none;
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.form-container {

 height: 70%;
 width: 50%;
}
